$bg-color: #ffffff;
$main-yellow-color: #f4d235;
$main-gray-color: #444444;

$main-font: "SFUI";
$font-normal: 400;
$font-bold: 600;

$H75: 75px;
$H60: 60px;
$H55: 55px;
$H41: 41px;
$H32: 32px;
$H30: 30px;
$H29: 29px;
$H26: 26px;
$H24: 24px;
$H22: 22px;
$H21: 21px;
$H18: 18px;
$H16: 16px;
$H14: 14px;
$H12: 12px;

$icon-holder-size: 88px;
$icon-size: 42px;

